apiVersion: apps/v1
kind: Deployment
metadata:
  name: second-deployment          # ← 워크플로우에서 쓰는 이름이랑 반드시 동일
spec:
  replicas: 1
  selector:
    matchLabels:
      app: second
  template:
    metadata:
      labels:
        app: second
    spec:
      containers:
        - name: second             # ← set image에서 쓰는 컨테이너 이름
          image: gdtime1023/second:latest   # 임시 이미지 (네 Docker Hub 아이디/리포 이름으로 수정)
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: second-service
spec:
  type: NodePort
  selector:
    app: second
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
